body {
    background-color: #ddd;
    /* Margin bottom by footer height */
    margin-bottom: 68px;
}

.form-inline {
    display: inline-block;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 68px;
  background-color: #ccc;
}

.footer p {
    margin-top: 8px;
}

.input-copyable-key {
    font-family: "Courier", "monospace";
    width: 41ch;
}
